.install-wrapper
{
	margin-top:40px;
	margin-bottom:40px;
	h1
	{
		font-family: roboto,helvetia,sanserif;
		font-weight: 700;
	}
	.install-box{
		background:#fff;
		padding:20px;
		color:#666;
		.form-horizontal{
			.form-header{
				h2
				{
					padding:0px;
					margin:0px;
					font-size: 1.4em;
					font-weight: bold;
				}
				background:darken(#d2d6de,40%);
				color:#fff;
				padding:10px 15px;
				margin:0px -20px;
			}

			.form-header-desc
			{
				font-size:1.2em;
				padding:10px 0;
				text-align: center;
			}

			.bg-i-grey
			{
				background:darken(#d2d6de,40%);
				border-color:darken(#d2d6de, 50%)
			}

			.field-info
			{
				height: 34px;
				display:table-cell;
				vertical-align: middle;
			}
		}
	}
}