@light-grey : #d2d6de;
@dark-grey : #444;
@danger-red : #dd4b39;

body
{
	color:@dark-grey;
	font-weight: 13px;
	font-family:"Open Sans",sans-serif;
}

.icms-box
{
  border:1px solid #DDDDDD;
  margin-bottom: 10px;
}

.page-wrapper
{
  height: 200px;
  overflow:auto;
}

.icms-none-list
{
  padding:0px;
  margin:0px;
  list-style:none;
}

.box-icms-float
{
	border-top:none;
	margin-top:20px;
}

.icms-box{
	.form-group{
		margin-bottom: 0px;
	}
	.icms-box-head,.icms-box-foot{
		background-color:#eeeeee;
		padding-top:5px;
		padding-bottom:5px;
		a{
			line-height: 34px
		}
	}
	.icms-box-head
	{
		border-bottom: 1px solid #DDDDDD;
	}
	.icms-box-foot
	{
		border-top: 1px solid #DDDDDD;
	}
	.icms-box-body{
		padding:10px;
		h2
		{
			margin-bottom:10px;
			margin-top:10px;
			font-size:1.2em;
			font-weight: bold;
		}
	}
}

.icms-nav-tabs
{
    li{
      a{
		  color:#FFFFFF;
		  border-color:#888888;
		  background-color: #888888;
      }
      &:first-child
      {
        margin-left:10px;
      }
      &.active{
		  a{
			  font-weight: bold;
			  color:#333333;
			  background-color:#ecf0f5;
			  border-color:#888888;
			  border-bottom-color: transparent;
			  &:focus{
				  background-color:#ecf0f5;
				  border-color:#888888;
				  border-bottom-color: transparent;
			  }
			  &:hover
			  {
				  background-color:#ecf0f5;
				  border-color:#888888;
				  border-bottom-color: transparent;
			  }
			  &:active{
				  background-color:#ecf0f5;
				  border-color:#888888;
				  border-bottom-color: transparent;
			  }
		  }
      }
    }
    border-bottom-color:#888888;
}

.cake-debug
{
	position: relative;
	z-index: 1200;
}

.list-none
{
	list-style: none;
}

.list-horizontal
{
	float:left;
}

.border-bottom
{
	border-bottom:1px solid @light-grey;
	&:last-child
	{
		border-bottom:none;
	}
}

.sub-menu
{
	.list-none();
	li{
		.list-horizontal();
	}
	margin:0px;
	padding-right:15px;
}

.cb-wrap
{
	padding-left:5px 8px;
}

.list-action
{
	padding:5px;
}

.i-combo
{
	border-radius: 0px;
	option
	{
		padding:5px;
	}
}

.item-amount
{
	line-height: 34px;
	padding-right:5px;
}

.user-table
{
	tbody>tr>td{
		vertical-align: middle;
	}
}

.toolbar
{
	position: relative;
	width: 100%;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background: #ffffff;
	padding:5px 10px;
	margin-bottom:10px;
}

.sticky
{
	border-radius: 0px;
	background: #222d32;
	position:fixed;
	bottom:0px;
	margin-bottom: 0px;
	margin-left:-15px;
	z-index:1000;
}

.form-horizontal{

	.form-error
	{
		border-color:@danger-red;
	}

	div.error-message
	{
		margin-top:5px;
		margin-bottom:10px;
		color:@danger-red;
	}
}

@media(min-width:780px){
	.alert-icms
	{
		position:fixed;
		top:50px;
		right:10px;
		width:20%;
		z-index:1001;
	}
	.dashboard-select
	{
		top:49px;
		right:40px;
		position: fixed;
		z-index:1029;
	}
}

@media(min-width: 992px)
{
	.icms-modal-lg-prc
	{
		width: 95%;
		height: 95%;
	}
}

@media (max-width: 992px) {

	.icms-modal-lg-prc
	{
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
	}
}

a.ilink
{
	color:@dark-grey;
}

a.ilink:hover
{
	text-decoration: none;
}

.min-padding
{
	padding:5px;
	&-left {
		padding-left: 5px !important;
	}
	&-right {
		padding-right: 5px !important;
	}
	&-top {
		padding-top: 5px !important;
	}
	&-bottom {
		padding-bottom: 5px !important;
	}
}

.no-padding
{
	padding:0px;
	&-left {
		padding-left: 0px !important;
	}
	&-right {
		padding-right: 0px !important;
	}
	&-top {
		padding-top: 0px !important;
	}
	&-bottom {
		padding-bottom: 0px !important;
	}
}

.drop-label
{
	label
	{
		display:block !important;
	}
}

.emptylist
{
	padding:10px !important;
	margin:0px !important;
	li{
		margin:0px;
		margin-top:10px;
		margin-bottom:10px;
		list-style: none;
	}
	.box
	{
		margin:0px !important;
	}
}

.ui-state-bordered
{
	margin:20px 0px;
	height: 100px;
	border-radius: 2px;
	border:1px dotted #444;
}


.ui-state-bordered-small
{
	margin:10px 0px;
	height: 40px;
	border-radius: 2px;
	border:1px dotted #444;
}

.dashboardcomp
{
	border:1px dotted;	
	margin:10px 0px !important;
	li{
		border:1px solid;
		border-color: #1e282c;
		color:#333;
		border-radius: 2px;
		line-height: 34px;
		padding:3px;
	}
}

.cool-h3
{
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
}

hr.separator {
	margin-top: 5px;
	margin-bottom:5px;
}

.statusbar
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.dashlinkwrap{
	margin-top:40px;
	text-align: center;
	a.dashlink
	{
		text-decoration: none;
		color:#aaa;
		font-size: 9em;
		font-weight: bold;
		text-transform: uppercase;
		border:10px dotted #aaa;
		border-radius: 20px;
		padding:40px;
		width: 80%;
		display: inline-block;
		&:hover
		{
			text-shadow:10px 10px #ddd;
		}
	}
}

.table-middle {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.mce-fullscreen{
	z-index: 1031 !important;
}

#dropzone {
	border:4px dashed #b4b9be;
	width: 100%;
	height: 200px;
}

.dropzone-inner{
	margin:70px auto 0;
	width: 250px;
}

.dropzone-inner-info
{
	font-size:20px;
}

.dropzone-inner p{
	text-align: center;
	color:#a0a5aa;
}

.dropzone-inner-buttons
{
	display:block;
}

.dropzone-in
{
	border-color:#1a2226 !important;
}

.list-file
{
	padding:0px;
	margin:0px;
	list-style: none;
	li {
		background: #fff;
		padding: 10px;
		margin-bottom:2px;
		vertical-align: middle;
		line-height:40px;
	}
}

.nav-tabs-custom
{
	.nav-sm-tabs
	{
		li a{
			font-size:12px;
			line-height:0.2 !important;
		}
	}
}

.category-wrapper
{
	border:1px solid #dddddd;
	overflow: auto;
}

.tree-list
{
	list-style: none;
	margin:0px;
	padding-left:5px;
	li{
		label
		{
			font-weight:normal;
		}
	}
}

li>ul.tree-list
{
	padding-left:20px;
}

.lbl {
	display: inline-block;
	line-height: 30px;
	width: 200px;
}

.highlight {
	font-weight:normal;
}

.grey{
	background-color:#dddddd;
}

.widget-box
{
	.widget-title,.widget-inside
	{
		border: 1px solid #e5e5e5;
	}

	.widget-title
	{
		.info{
			font-size:11px;
			color:#888888;
		}
		position:relative;
		background: #fafafa;
		color:#23282d;
		line-height: 1.4em;
		cursor: pointer;
		h3
		{
			margin:0;
			padding:15px;
			line-height: 1;
			overflow:hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size:0.9em;
			font-weight:600;
		}
	}
	.widget-description
	{
		p
		{
			padding:5px 15px;
			font-size:0.95em;
		}
	}

	.widget-inside
	{
		background:#fff;
		padding:15px;
		border-top:none;
		label{
			font-weight:normal;
			font-size: 0.9em;
			margin-bottom: 0px;
		}
		.form-control-sm
		{
			width: 100%;
			line-height: 24px;
			-webkit-border-radius:0px;
			-moz-border-radius:0px;
			border-radius:0px;
		}
		select.form-control-sm
		{
			width: 100%;
			border-radius: 0px;
		}
	}

	.widget-action
	{
		position: absolute;
		right: 20px;
		top: 10px;
		a
		{
			color:#000;
			&:hover
			{
				text-decoration: none;
			}
		}
	}
}


.ui-draggable-dragging
{
	z-index: 1090;
	width: 195px;
	.widget-description
	{
		display: none !important;
	}
}

.ui-draggable
{
	.widget-action, .widget-inside
	{
		display:none;
	}
	.widget-description
	{
		display:block;
	}
}

.sortable
{
	.widget-box
	{
		width: 100% !important;
		margin-bottom:5px;
	}
	.widget-action
	{
		display:block !important;
	}
	.widget-description
	{
		display:none !important;
	}
}

.widget-sortable {
	.sortable {
		min-height: 10px;
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

.drop-remove
{
	border:1px solid #dddddd;
	padding:15px;
	background-color:#f7f2f2;
	font-size: 1em;
	text-align: center;
}

.drop-remove-larger
{
	font-size:1.5em;
}

.courier
{
	font-family: "Courier New";
}

.placeholder {
	display:block;
	outline: 1px dashed #DDDDDD;
	height: 40px;
	width: 100%;
	margin-bottom:5px;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

#tree {
	margin: 0;
}

ol.sortable,ol.sortable ol {
	list-style-type: none;
	padding-left:15px;
	width: 400px;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
}

.disclose, .expandEditor {
	cursor: pointer;
	width: 20px;
	display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable span.ui-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.icms-modal
{
	padding-right:0px !important;
	.modal-header{
		background-color: #ecf0f5;
		border-bottom:none;
	}
	.modal-body
	{
		background-color: #ecf0f5;
		padding:0px;
		border-radius: 0px;
	}
	.modal-footer{
		border-radius: 0px;
		background-color: #ecf0f5;
	}
	.icms-nav-tabs
	{
		li:first-child{
			margin-left:5px;
		}
		a{
			background-color: transparent;
			color:#337ab7;
			border-color:transparent;
		}
		border-bottom-color:#DDDDDD;
		li.active
		{
			a{
				border-radius: 0px;
				background-color: white;
				border-color:#DDDDDD;
				border-bottom-color:transparent;
			}
		}
	}
	.tab-pane
	{
		background-color:white;
	}

	.upload-media
	{
		padding:10px;
		min-height: 350px;
		.dropzone{
			height: 100%;
		}
	}

	.media-selector
	{
		.progress-wrap{
			position:absolute;
			top:0px;
			left:0px;
			height:350px;
			width: 100%;
			z-index:1099;
			background-image:url(../img/loader.gif);
			background-position: center;
			background-repeat:no-repeat;
			background-color:rgba(51, 51, 51, 0.5);
		}
		.media-list-wrap
		{
			padding:10px;
			max-height: 350px;
			overflow-y:auto;
			.media-list{
				list-style: none;
				margin:0px;
				padding:0px;
				li{
					&>div{
						position:relative;
						padding:5px;
					}
					span.floating-box{
						background-color:blue;
						display:none;
						width: 20px;
						height: 20px;
						position: absolute;
						top:0px;
						right: 0px;
					}
				}
				.ui-selected{
					&>div>img {
						border: 5px solid blue;
					}
					span.floating-box{
						display:block;
					}
				}
			}
			.media-wrap{
				border:1px solid #DDDDDD;
				width: 100%;
				background-color:#DDDDDD;
				cursor:pointer;
			}
		}
		.attribute-wrap{
			padding:15px;
			height: 350px;
			border:0px;
			border-left: 1px solid #DDDDDD;
			background-color:darken(#ecf0f5,2%);
			color:#333;
			overflow-y: auto;
			h3,h4{
				display:block;
				font-size:1em;
				font-weight: bold;
				margin:0px;
				clear:both;
			}
			h3{
				text-transform: uppercase;
			}
			img
			{
				border:1px solid #DDDDDD;
				width: 100%;
				clear:both;
			}
			hr{
				margin:5px;
				border-color:#CCCCCC;
			}
		}
	}
}

.icms-tab{
	.tab-pane
	{
		padding:10px 0px;
	}
}