@light-grey : #d2d6de;
@dark-grey : #444;
@danger-red : #dd4b39;

.login
{
	color:#404040;
	h1
	{
		font-family: 'Fjalla One', sans-serif;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}	

	h3
	{	
		font-family: 'Fjalla One', sans-serif;
		text-align: center;
		font-size: 1.2em;
	}

	div.login-form
	{

		width: 400px;
		margin:auto;
		background-color:#f7f7f7;
		padding:40px;
	
		.userimg
		{
			margin-bottom: 20px;
		}

		.form-control
		{
			padding:15 15px;
			height: 45px;
			font-size: 1.1em;
			border-radius: 0px;
		}

		button
		{
			margin-top:10px;
			height: 45px;
			width: 100%;
			border-radius: 2px;
		}

		.error-message
		{
			padding-left:15px;
			color:@danger-red;
		}
	}

	@media(max-width:768px)
	{
		div.login-form
		{
			width: 100%;
			margin: 20px;
		}
	}
}