@color-primary-0: #01688c;	/* Main Primary color */
@color-primary-1: #f4f4f4;
@color-primary-2: #ABACAE;
@color-primary-3: #01688c;
@color-primary-4: #01688c;
@fixed-header : #01688c;
@sky-blue : #c9dce2;
@mild-white : #f4f4f4;

body{
  background-color:@color-primary-1;
  color:#3d3d3d;
  font-family: 'PT Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Titillium Web', sans-serif !important;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -199px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: 249px;
}
a
{
  color:@color-primary-3;
  &:hover
  {
    text-decoration: underline;
    color:@color-primary-4;
  }
}

.border-shadow
{
  -webkit-box-shadow: 0px 0px 2px 2px @color-primary-0;
  -moz-box-shadow: 0px 0px 2px 2px @color-primary-0;
  box-shadow: 0px 0px 2px 2px @color-primary-0;
}

.none-list
{
  list-style: none;
}

.inner-list
{
    &>li
    {
      float:left;
    }
}


.sm-navbar
{
  height: 30px;
  background:@color-primary-1;
}

.sm-nav
{
  line-height: 30px;
  .inner-list();
  .none-list();
  a{
    display:block;
    font-size:12px;
    color:@color-primary-2;
    padding:5px 0px 5px 10px !important;
  }
  &>li>a
  {
    display:block;
    font-size:11px;
    color:@color-primary-2;
    padding:0px 0px 0px 10px !important;
    text-align: right;
  }
}
.sm-header-bar
{
  padding-top:60px;
  background-color:#fdfdfd;
  box-shadow: 1px 1px 1px 1px #DDDDDD;
}

.fixed-header
{
  position:fixed;
  background:@fixed-header;
  width:100%;
  color:@mild-white;
  height:60px;
  z-index:1049;
  .header-list{ 
    .user-selection
    {
      padding-top:10px;
      a{
        color:@mild-white !important;
      }
    }
    .search-wrapper
    {
      padding-top:10px;
    }
    .token-list{
      padding-top:10px;
      font-size:14px;
      ul{ 
        list-style:none;
        li{
          color:@mild-white;
          a{
            color:@mild-white;
          }
        }
      }
    }
  }
}

.header-list
{
  margin:0px;
  width: 100%;
  .img-wrapper{
    padding:5px 0px;
    img{
      height:50px;
    }
  }
  .search-wrapper{
    padding-top:20px;
    .search-form-wrapper
    {
      position:relative;
      font-size:18px;
      width: 100%;
      input
      {
        border: none;
        background:@color-primary-1;
        color:@color-primary-2;
        padding:5px 15px;
        padding-right:40px;
        line-height: 30px;
        width: 100%;
        &:focus
        {
          border: 1px lightyellow;
          border-radius: none;
          background: white;
          color:dimgrey;
        }
      }
      button.main-search-btn
      {
        background:none;
        border:none;
        position:absolute;
        top:10px;
        right:10px;
        color:#333;
      }
    }
  }
  .user-selection{
    float:right;
    .selection-link
    {
      float:left;
      &:first-child
      {
        margin-right: 15px;
      }
    }
    a{
      color:#333;
      background-color:transparent;
      border:none;
      padding:0px;
      outline:0px;
      line-height: 40px;
    }
    a:hover
    {
      text-decoration: none;
    }
    .my-bargain
    {
      a{
        display:block;
      }
    }
    .icon{
      float:left;
      font-size:40px;
    }
    .bargain-label
    {
      font-size:14px;
      text-align: left;
      margin-left:5px;
      float:left;
    }
    .user-wrapper
    {
      a
      {
        color:@color-primary-0;
      }
    }
  }
}

.main-container{
  margin:20px 0px;
}

.redeem-voucher {
  a{
    text-align: center;
  }
  .redeem-floating-box {
    background-color: white;
    position: absolute;
    width: 400px;
    top: 38px;
    right: 0px;
    left: auto;
    z-index:100;
    border:1px solid #ddd;
    box-shadow: 2px 2px 1px #333;
    .floating-box-content
    {
      padding:10px;
    }
  }
  .redeem-floating-box-mending
  {
    position:absolute;
    width:94px;
    height: 10px;
    top:-10px;
    right:0px;
    left:auto;
    background-color:#fdfdfd;
    z-index:101;
  }
  .active{
    position:relative;
    background-color:#fdfdfd;
    border: 1px solid #DDDDDD;
    border-bottom: none !important;
    box-shadow: 2px 2px 1px #333;
  }
  .sm-label
  {
    float : left;
    font-weight: bold;
  }
  .token-amount-wrapper
  {
    text-align: center;
    .token-amount{
      border:1px solid #DDDDDD;
      color:@color-primary-3;
      line-height: 34px;
    }
  }
  .extra-group
  {
    a
    {
      display:inline !important;
      line-height: 12px !important;
    }
  }
}
.second-nav
{
  margin-top:10px;
  ul{
    margin:0px;
    padding:0px;
    .none-list();
    .inner-list();
    li {
      a
      {
        color:@color-primary-0;
        padding:0 20px;
        display:block;
        line-height: 40px;
        font-size: 14px;
        &:hover
        {
          text-decoration: none;
        }
      }
    }
  }
  .redeem-voucher{
    a
    {
      color:@color-primary-0;
      display:block;
      line-height: 40px;
      font-size: 14px;
      &:hover
      {
        text-decoration: none;
      }
    }
  }
}

.sm-main-content
{
  margin-top:20px;
  margin-bottom:20px;
  h1.page-title{
    font-size:1.8em;
    margin:0px;
    margin-bottom:15px;
  }
}

.sm-bargain-box
{
  &:hover
  {
    .border-shadow();
  }
  cursor:pointer;
  background:#fdfdfd;
  border:1px solid #DDDDDD;
  padding:10px !important;
  margin-bottom:20px;
  .sm-bargain-image
  {
    margin-bottom:5px;
    max-height:300px;
    overflow:hidden;
    img
    {
      width: 100%;
    }
  }
  .sm-bargain-info
  {
    padding:0px 10px 10px 10px;
  }
  .sm-bargain-title-wrapper
  {
    height:45px;
    .sm-bargain-title{
      font-size:14px;
      line-height: 1.428571;
      margin:0px 0px 10px;
    }
  }
  .sm-bargain-info-wrapper
  {
    margin-bottom:5px;
  }
  .sm-bargain-retail-price
  {
    color:@color-primary-4;
    font-size:20px;
    font-weight:bold;
  }
  .sm-bargain-token
  {
    color:@color-primary-4;
    font-size:18px;
    font-weight: bold;
  }
}

.sm-prd-detail
{
  padding:15px;
  background:#fdfdfd;
  .sm-prd-detail-row
  {
    margin-bottom:20px;
  }
  .tab-pane.active
  {
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color:#ddd;
    padding:10px;
  }
}

.sm-bargain-detail-header
{
  .line{
    margin-bottom:5px;
  }
  .sm-bargain-detail-title
  {
    margin-bottom:15px;
    font-size:20px;
    font-weight: bold;
  }
  .sm-second-line
  {
    img
    {
      width: 100%;
    }
    .sm-bargain-retail-price
    {
      .extra-label{
        font-size:12px;
        font-weight: normal;
      }
      padding-top:12px;
      font-size: 24px;
      font-weight: bold;
      color:@color-primary-4;
    }
  }
  .sm-third-line
  {
    margin-bottom:20px;
    .sm-prd-token-amount
    {
      padding:10px !important;
      background:@color-primary-4;
      text-align: center;
      font-size:16px;
      font-weight:bold;
      color:@mild-white;
    }
    .sm-bargain-detail-price-range{
      padding:12.5px;
    }
  }
  .sm-forth-line
  {
    margin-bottom:20px;
  }
  .sm-fifth-line
  {
    .sm-label{
      font-weight: bold;
    }
    .timer{
      border-top:1px solid @color-primary-3;
      border-bottom:1px solid @color-primary-3;
      padding:10px;
      font-size:2em;
      text-align: center;
      color:@color-primary-4;
    }
  }
}

.sm-nav-tabs
{
  padding-top:10px;
  padding-right:5px;
  padding-left:5px;
  background-color:@color-primary-4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  a {
    color: #FFFFFF;
  }
}

.sm-prd-detail-sub-title
{
  margin:0px;
  margin-bottom:10px;
  font-size:16px;
  text-transform: uppercase;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
}

.sm-bargain-detail-footer
{
  .merchant-icon
  {
    color:@color-primary-4;
    font-size:1.2em;
    padding-top:2px;
    margin-right:10px;
  }
  .merchant-detail
  {
    width: 340px;
  }
}

.sm-form-control
{
  border-radius: 0px;
}

.btn-smd
{
  width: 100%;
  border-radius: 0px;
}

.btn-sm-primary
{
  background-color:@color-primary-4;
  color:@mild-white;
}

.btn-sm-primary:hover, .btn-sm-primary:active, .btn-sm-primary:focus
{
  color:#f9b916;
  background-color:@color-primary-3;
}

.small-bargain-link
{
  color:#333333;
  &:hover
  {
    color:@color-primary-3;
    text-decoration: none;
  }
}

.small-bargain-box
{
  &:hover
  {
    .border-shadow();
  }
  border:1px solid #DDDDDD;
  margin-bottom:10px;
  background-color:@mild-white;
  .img-wrapper
  {
    img
    {
      width: 100%;
    }
  }
  .info-wrapper
  {
    .info-title{
      margin:0px;
      font-size:12px;
      height: 30px;
      overflow: hidden;
    }
  }
  .merchant-name
  {
    color:#888;
    font-size:10px;
  }
  .price
  {
    color:@color-primary-3;
    font-size:12px;
    .price-range{
      font-size:10px;
      color:#888;
    }
  }
  .token-amount
  {
    text-align: center;
    font-weight: bold;
    padding:3px !important;
    background-color:@color-primary-4;
    color:#FFFFFF;
  }
}

.table-sm
{
  color:#333333;
  &+nav
  {
    margin-top:-20px;
  }
  thead{
    font-size:14px;
  }
  tbody{
    font-size:13px;
    tr{
      td{
        padding:5px;
      }
    }
  }
}

.sm-box{
  background:#fdfdfd;
  border:1px solid #DDDDDD;
  padding:10px;
}

.table-stripe
{
  tbody {
    tr:nth-child(odd) {
      background: @color-primary-1;
    }
  }
}

.info-wrap {
  &:before{
    content:"*";
    color:red;
  }
  padding-bottom:5px;
  .info {
    color: #333333;
    font-size: 12px;
  }
}

.info-popup
{
  font-size:22px;
  a{
    cursor: pointer;
  }
}

.form-group .info-popup
{
  display:block;
  height: 34px;
  padding:6px 0px;
}

.form-horizontal
{
  .required
  {
    .control-label:after{
      content: "*";
      color:red;
    }
  }
  .intl-tel-input
  {
    width: 100%;
  }
  .extra-group
  {
    margin-bottom:5px;
  }
}

.token-box
{
  border:1px solid #DDDDDD;
  background-color:#fdfdfd;
  margin-bottom:20px;
  img
  {
    width: 100%;
  }
  .token-box-title {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .body {
    padding:10px;
    .stroke-price {
      height: 17px;
      font-size: 12px;
      color: #CCCCCC;
      text-decoration: line-through;
    }
    .price{
      font-size:16px;
      color:@color-primary-3;
      font-weight: bold;
      .discount{
        float:right;
        background:@color-primary-4;
        color:@mild-white;
        font-size:14px;
        padding:1px 2px;
      }
    }
    .btn-wrapper
    {
      margin-top:10px;
    }
  }
}

.sm-vertical-bargain-box
{
  &:hover
  {
    .border-shadow();
  }
  background:#fdfdfd;
  border:1px solid #DDDDDD;
  padding:10px;
  margin-bottom:15px;
  .img-wrapper
  {
    padding-left:15px !important;
  }
  img
  {
    width: 100%;
    max-height: 200px;
  }
  .bargain-title
  {
    font-size:16px;
    height: 34px;
    margin:0px;
    margin-bottom: 10px;
  }
  .sm-second-line
  {
    margin-bottom:10px;
  }
  .sm-bargain-retail-price
  {
    .extra-label
    {
      font-size:12px;
    }
    font-size:16px;
    font-weight: bold;
    color:@color-primary-3;
  }
  .sm-prd-token-amount
  {
    padding:10px !important;
    background:@color-primary-4;
    text-align: center;
    font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
  }
  .sm-bargain-detail-price-range{
    padding:12.5px;
  }
  .sm-label {
    font-weight: bold;
  }
  .timer {
    border-top: 1px solid @color-primary-3;
    border-bottom: 1px solid @color-primary-3;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    color: @color-primary-4;
  }
}

footer
{
  background-image:url('../img/footer-background.png');
  background-repeat: repeat-x;
  background-size:100%;
  background-position:center bottom;
  border-top:10px solid @fixed-header;
  background-color:@sky-blue;
  color:#333333;
  padding-bottom:80px;
  .footer-link-header
  {
    font-weight: bold;
    margin-top:20px;
  }
  .footer-link
  {
    .none-list();
    margin:0px;
    padding:0px;
    a{
      display:inline-block;
      font-size:14px;
      padding:5px 0px;
      color:#333333;
      &:hover
      {
        color:@color-primary-4;
        text-decoration: none;
      }
    }
  }
  .footer-info
  {
    i.fa{
      font-size:16px;
      margin-right:10px;
    }
    font-size:14px;
    padding:5px 0px;
  }
  .social-link-list
  {
    .none-list();
    .inner-list();
    margin:0px;
    padding:0px;
    li{
      a{
        display:block;
        font-size:34px;
        padding:10px;
        &:hover
        {
          text-decoration: none;
        }
      }
    }
  }
}

.sm-extra-info
{
  color:#999999;
  font-size:14px;
  margin-bottom:5px;
}

.section-header
{
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
  text-transform: uppercase;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
}

h1.section-header
{
  font-size:1.5em;
}

h2.section-header
{
  font-size:1.4em;
}

h3.section-header
{
  font-size:1.3em;
}

h4.section-header
{
  font-size:1.2em;
}

h5.section-header
{
  font-size:1.1em;
}

h6.section-header
{
  font-size:1em;
}

.facebook-icon
{
  color:#3b5998;
  &:hover
  {
    color:#3b5998;
  }
}

.twitter-icon
{
  color:#00aced;
  &:hover
  {
    color:#00aced;
  }
}

.instagram-icon
{
  color:#8a3ab9;
  &:hover
  {
    color:#8a3ab9;
  }
}

@media(min-width: 992px) {
  .no-padding-md-left {
    padding-left: 0px;
  }

  .no-padding-md-right {
    padding-right: 0px;
  }
}

@media(max-width: 768px)
{
  .alert-icms
  {
    position:fixed;
    top:10%;
    left:50%;
    margin-left:-45%;
    width:90%;
    font-size:16px;
    z-index:1201;
  }
  
  body{
    font-size:12px;
  }
  .sm-bargain-box{
    .sm-bargain-image
    {
      margin-bottom:5px;
      img
      {
        width: 100%;
        height: auto !important     ;
      }
    }
  }
  .sm-bargain-detail-header {
    .sm-fifth-line {
      .sm-label {
        font-weight: bold;
      }
      .timer {
        border-top: 1px solid @color-primary-3;
        border-bottom: 1px solid @color-primary-3;
        padding: 5px;
        font-size: 1.2em;
        text-align: center;
        color: @color-primary-4;
      }
    }
  }
  .sm-bargain-detail-footer{
    margin-top:20px;
  }

  label>small.info{
    color:#aaa;
  }

  .overflow-table-container
  {
    overflow-y: auto;
  }

  .sm-prd-slider
  {
    max-height:200px !important;
    .left{
      background:none;
    }
    .right{
      background:none;
    }
    .carousel-inner{
      height:200px !important;
      text-align:center;
      img{  
        width:auto;
        max-height:200px !important;
        display:inline;
      }
    }
}
}

.no-product{
  text-align:center;
  font-size:16px;
  text-transform: uppercase;
  color:#aaaeaf;
  padding:20px;
}


.sm-dropdown ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

.sm-dropdown ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  padding:0 15px;
}

.sm-dropdown ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

.sm-dropdown ul li.current-menu-item
{
  background:#ddd
}

.sm-dropdown ul li:hover
{
  background:#f6f6f6
}

.sm-dropdown ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0;
  z-index:1111;
}

.sm-dropdown ul ul li
{
  float:none;
  width:200px
}

.sm-dropdown ul ul a
{
  line-height:120%;
  padding:10px 15px
}

.sm-dropdown ul ul ul
{
  top:0;
  left:100%
}

.sm-dropdown ul li:hover > ul
{
  display:block;
}

.error-message{
  &:before{
    content:"*";
  }
  color:red;
}

.no-padding-left{
  padding-left:0px !important;
}

.no-padding-right{
  padding-right:0px !important;
}

@media (max-width: 768px) { 

  .navbar-brand
  {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    >img{
      display:inline;
      width:130px;
      margin-top:-7px;
      margin-bottom:0px;
    }
  }
  
  .navbar-toggle
  {
    margin-left: 15px;
    z-index:10;
  }

 .navbar-right
  {
    margin: 0;
  }

  .navbar-right>li, .navbar-header {
    float: left;
  }

  .navbar-right>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .collapsing, .collapse.in {
    background-color:grey;
    top: 50px;
    position: absolute;
    width: 100%;  
  }
}

.sm-info-box
{
  width:100%;
  padding:10px;
  text-align:center;
  float:left;
  font-size:16px;
  font-weight:bold;
  height:80px;
  vertical-align: middle;
  display:flex;
  justify-content:center;
  flex-direction: column;
}

.min-padding-right
{
  padding-right:5px !important;
}

.min-padding-left
{
  padding-left:5px !important;
}

.sm-prd-slider
{
  max-height:400px;
  .left{
    background:none;
  }
  .right{
    background:none;
  }
  .carousel-inner{
    height:400px;
    text-align:center;
    img{  
      width:auto;
      max-height:400px;
      display:inline;
    }
  }
}

.sm-scroll
{
  max-height:300px;
  overflow-y: auto;
  margin-top:15px;
}

.bargain-status{
  padding:15px  10px;
  margin-top:5px;
  small{
    color:#fff;
  }
  h3{
    font-size:16px;
    margin:0px;
    margin-bottom:5px;
  }
  &.singlehost{
    background-color:#eee;
    border:1px solid #eee;
  }
  &.guestto{
    background-color:#000;
    border:1px solid #000;
    color:#fff !important;
    small{
      color:#fff;
    }
  }
  &.multiplehost{
    background-color:#a5cbe5;
    border:1px solid #a5cbe5;
  }
  &.rank-1{
    background-color:#FFD700;
    border:1px solid #FFD700;
  }
  &.rank-2{
    background-color:#c0c0c0;
    border:1px solid #c0c0c0;
  }
  &.rank-3
  {
    background-color:#cd7f32;
    border:1px solid #cd7f32;
  }
}

.mini-box{
  display:inline-block;
  height:20px;
  width:30px;
  clear:both;
  &.singlehost{
    background-color:#eee;
    border:1px solid #eee;
  }
  &.guestto{
    background-color:#000;
    border:1px solid #000;
    color:#fff;
  }
  &.multiplehost{
    background-color:#a5cbe5;
    border:1px solid #a5cbe5;
  }
  &.rank-1{
    background-color:#FFD700;
    border:1px solid #FFD700;
  }
  &.rank-2{
    background-color:#c0c0c0;
    border:1px solid #c0c0c0;
  }
  &.rank-3
  {
    background-color:#cd7f32;
    border:1px solid #cd7f32;
  }
}

.cart
{
  padding:10px;
  h1{
    margin:0px;
    margin-bottom:10px;
    font-size:1.7em;
    text-transform:uppercase;
  }
  background-color:#fff;
  .cart-table
  {
    tbody
    {
      vertical-align:middle;
      tr:first-child {
        height:100px;
        td{
          vertical-align:middle;
        }
      }
      tr
      {
        &.large{
          height:60px;
          font-size:1.4em;
          color:@color-primary-0;
        }
        td{
          vertical-align:middle;
        }
        line-height:40px;
      }
    }
    input.cart-money{
      padding:5px 15px;
      width:100%;
      border:none;
      &:focus
      {
        background: linear-gradient(@color-primary-0, @color-primary-0), linear-gradient(@color-primary-0, @color-primary-0), linear-gradient(@color-primary-0, @color-primary-0);
        background-size: 1px 20%, 100% 1px, 1px 20%;
        background-position: bottom left, bottom center, bottom right;
        background-repeat: no-repeat;
        border: none !important;
      }
    }
  }
}

.success_purchase
{
  text-align:center;
  border-bottom:1px solid @color-primary-0;
}

input.bordered
{
  padding:5px 15px;
  padding-right:0px;
  background: linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc);
  background-size: 1px 20%, 100% 1px, 1px 20%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  border: none !important;
  &:focus
  {
    background: linear-gradient(@color-primary-0, @color-primary-0), linear-gradient(@color-primary-0, @color-primary-0), linear-gradient(@color-primary-0, @color-primary-0);
    background-size: 1px 20%, 100% 1px, 1px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none !important;
  }
}

@media(min-width:780px){

  .alert-icms
  {
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-15%;
    width:30%;
    font-size:16px;
    z-index:1201;
  }

  .dashboard-select
  {
    top:49px;
    right:40px;
    position: fixed;
    z-index:1029;
  }
}

.single-post{
  background:#fff;
  padding:10px;
  margin:20px 0px;
  width:100%;
}

.single-post .post-body
{
  word-wrap:normal;
}

.single-post .post-image
{
  margin-bottom:15px;
  max-height:500px;
  overflow: hidden;
}

.single-post .post-image img{
  max-width:100%;
  height:auto;
  vertical-align:middle;
}

.single-post .post-header .cat
{
  text-align:center;
}

.single-post .post-header .cat li
{
  display:inline-block;
}

.single-post .post-header .cat li a
{
  font-size:11px;
  text-transform: uppercase;
  color:#C39F76;
}

.single-post .post-header .cat li a:hover
{
  text-decoration: underline;
}

.single-post .post-header h2
{
  margin-top:5px;
  margin-bottom:5px;
  text-align:center;
}

.single-post .post-header h2 a
{
  font-size:18px;
  letter-spacing: 3px;
  color:#161616;
  text-transform:uppercase;
  line-height:1.4em;
  font-weight: 400;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.single-post .post-header h2 a:hover{
  opacity: .6;
}

.single-post .post-header .title-divider
{
  border-top:2px solid;
  display:block;
  max-width: 48px;
  margin:0px auto 15px;
  color:#161616;
}

.single-post .post-body
{
  padding-top:20px;
  font-size:15.2px;
}

.single-post .post-header .post-at
{
  color : #999;
  font-style : italic;
  text-align : center;
  font-size: 16px;
  margin-bottom: 15px;
}

.single-post .post-body img
{
  max-width:100%;
  height:auto;
}

.radio-inline
{
  float:left;
}

.sub-section
{
  margin-top:30px;
  border:1px solid #ddd;
  background-color:#eee;
  padding-right:30px;
  padding-left:30px;
}

.sub-section-header{
  float:left;
  margin-top:-15px;
  margin-left:-30px;
  font-size:1.5em;
  background-color:#eee;
  .number
  {
    background-color:#030366;
    color:#fff;
    padding:0px 5px;
    margin-right:10px;
  }

}

.sidebar-wrapper
{
  a:hover{
    text-decoration:none;
    color:#f9b916;
    background-color:#f7f7f7;
  }
  font-size:13px;
  padding:0px;
  .separator-wrapper
  {
    padding-left:5px;
    padding-right:5px;
  }
  hr.separator
  {
    margin-top:10px;
    margin-bottom:10px;
  }

  .small-profile
  {
    padding:25px 20px;
    padding-bottom:0px;
    .userpic{
      padding-bottom:15px;  
      .username{
        line-height:47px;
      }
    }
    .token-wrapper
    {
      i{
        font-size:1.8em;
        color:@color-primary-0;
      }
      .token-value
      {
        line-height: 1.8em;
      }
    }
  }

  .sidebar{
    list-style:none;
    margin:0px;
    padding:0px;
    li.group{
      font-size:1.1em;
      text-transform:uppercase;
      font-family: 'Titillium Web', sans-serif !important;
      margin-bottom:5px;
      font-weight:bold;
      padding:7px 0px 7px 10px;
    }
    li{
      a {
        display:block;
        padding:7px 10px;
        i{
          margin-left:5px;
        }
        &:hover{
          text-decoration:none;
          color:#f9b916;
          background-color:#f7f7f7;
        }
      }
    }
  }
}

.sm-box
{

  h2.sub-header
  {
    font-size:1em;
    font-weight:bold;
    margin:0px;
    margin-bottom:5px;
  }
  p{
    font-size:0.9em;
  }
}

.sm-box .box-yellow
{
  background-color:#fff6bf;
}

.vouchercode
{
  text-align:center;
}

.ribbon {
  background: #01688C;
  position: absolute;
  right:0px;
  padding:10px;
  padding-right: 40px;
  color:white;
  font-weight:bold;
  text-shadow: 0px 1px 1px #4d4d4d;
  z-index:1030;
}
/* These are the two ribbon "curls". The :before curl is placed to the left, :after to the right */
.ribbon:after {
  border-color: #444444;
  border-style: solid;
  border-width: 0;
  border-top-width: 15px; /* This sets the height of the curls, making it half the width to angle the curls more. */
  content: ''; /* Tells the browser to actually generate the pseudo element */
  position: absolute;
}
.ribbon:after {
  /* Position the :after element to the right and below the ribbon element */
  right: 0;
  bottom: -15px; /* Equal to the height of the curl */
  border-right: 15px solid transparent; /* Makes the curl slant left */
}

.ribbon-two {
  background: #01688C;
  position: absolute;
  right:0px;
  padding:10px;
  padding-right: 40px;
  color:white;
  font-weight:bold;
  text-shadow: 0px 1px 1px #4d4d4d;
  z-index:1030;
}

.bar-wrapper
{
  width:100%;
  height:20px;
  border:1px solid #ccc;
  margin-top:5px;
  margin-bottom:20px;
}

.the-bar
{
  width:inherit;
  height:18px;
  background-color:#01688C;
}