<div class="selection-link my-bargain pull-right">
    <div class="hand-shake-wrapper">
        <a href="<?= $this->Url->build(['controller'=>'Bargains','action'=>'index','prefix'=>'Frontend','plugin'=>'Smashdeal']) ?>">
            <span class="icon sm-bargain"></span>
        </a>
    </div>
</div>